@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
}

main {
  flex: 1;
}

footer {
  margin-top: 2rem;
  font-size: 0.75rem;
  text-align: center;
  background-color: #eaeaea;
}

h1, h2, h3, h4 {
  font-weight: 850;
}

.button {
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: 'Mulish', sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  background-color: #1b79ad;
}
.button:hover {
  background-color: #2287bd;
}